
@{
    ViewBag.Title = "Front";
}

<h2>Front</h2>

<h3>Popular Movies</h3>
@Html.Action("PopularMovies")
<hr />
<h3>Newest Movies</h3>
@Html.Action("NewestMovies")
<hr />
<h3>Oldest Movies</h3>
@Html.Action("OldestMovies")
<hr />
<h3>Cheapest Movies</h3>

@Html.Action("CheapestMovies")
<hr />
<h3>Most Expensive Order</h3>

<div class="row">
    @Html.Action("MostExpensiveOrder", "Order")
</div>

