@model IEnumerable<MVCData_Group5.Models.ViewModels.ShoppingCartMovieViewModel>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td><strong>Total</strong></td>
            <td>@ViewBag.OrderTotal.ToString("C")</td>
            <td>@ViewBag.MovieCount</td>
            <td></td>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button onclick="setAmount(@item.Id, @(item.Amount - 1))" class="btn btn-warning"><span class="glyphicon glyphicon-minus"></span></button>
                            <button onclick="setAmount(@item.Id, @(item.Amount + 1))" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                        <div class="btn-group">
                            <button onclick="setAmount(@item.Id, 0)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

    <button onclick="emptyCart()" class="btn btn-danger">Empty Cart</button>


@Html.ActionLink("Check out", "CheckOut", null, new { @class = "btn btn-primary" })

@using (Html.BeginForm("EmptyCart", "Cart", FormMethod.Post, new { id = "emptyCart" }))
{ }
@using (Html.BeginForm("ModifyAmount", "Cart", FormMethod.Post, new { id = "changeAmount" }))
{
    @Html.Hidden("id", 0)
    @Html.Hidden("amount", 0)
}

@section Scripts {
    <script>
        function setAmount(id, amount)
        {
            $("#id").val(id);
            $("#amount").val(amount);
            $("#changeAmount").submit();
        }
        function emptyCart()
        {
            $("#emptyCart").submit();
        }
    </script>
}
