@model MVCData_Group5.Models.ViewModels.CustomerOrdersViewModel
@{
    ViewBag.Title = "ViewForCustomer";
}

<h2>ViewForCustomer</h2>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EmailAddress)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EmailAddress)
    </dd>

</dl>
<div class="row">
    @foreach (var order in Model.Orders)
    {
        @Html.Partial("_SingleOrderDetailsPartial", order)
    }
</div>